# Data files
*.csv
*.mat
*.txt

# Packages
*.tar.gz
*.tar.bz2

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
prot-1-circular-orbits/data/m_map/*

# Shared objects and build files:
prot-1-circular-orbits/build/*
prot-2-env-sfml/build/*
*.dll
*.so
*.so.*
*.dylib

# Executables
prot-1-circular-orbits/bin/*
prot-2-env-sfml/bin/*
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Old folders
.old/*
