# Data files
*.csv
*.mat

# Packages
*.tar.gz
*.tar.bz2

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
prot-1-circular-orbits/data/m_map/*

# Shared objects and build files:
prot-*/build/*
*.dll
*.so
*.so.*
*.dylib

# Executables
prot-*/bin/*
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Old folders
.old/*
*/*/.old/*
*/.old/*

# Prototypes
*/dev/*
dev/*

# Batch simulation folder and files:
prot-*/batch/job_logs/*
prot-*/batch/job_procinfo/*
prot-*/batch/*.log
